body{
  margin:0px;
  padding:0px;
  overflow-x: hidden; 
}
.iconspace {
  height: 100px;
  margin-right: 10px;
  margin-left: 10px;  
}
.icon-left {
  position: relative;
  top: 20px;
  left: 30px;
}
.icon-right {
  position: relative;
  top: -50px;
  left:83%;  
}
.dashed-border {
  border: 1px dashed lightgray;
  margin-left: -10px;
  margin-right: -10px;
}
.line-space-one{
  bottom:17px;
  position:relative;
  left:70px;
}
.line-space-two{
  bottom:54px;
  position:relative;
  left:160px;
}
.icontext {
  top: 0px;
}
.banner-image {
  width: 100%;
}
.banner {
  padding-top: 8px;
  padding-bottom: 8px;
  top: 10px;
  margin-right: 10px;
  margin-left: 10px;
}
.readmore-align-left {
  padding-top:60px;
  float: right;
}
.readmore-align-middle {
  padding-top:40px;
  float: right;
}
.content {
  position: relative;
  margin-right: 13px;
  margin-left: 13px;
}
.header-font {
  margin:0px;
  font-size: 23px;
  font-family:arial;
  font-weight: bold;
  color: green;
}
.content-font {
  margin:0px;
  padding:0px;
  font-family:arial;
  font-size: 15px;
}
.space-home {
  position:relative;
  padding-left: 5px;
  padding-right: 21px;
}
.space-about {
  position:relative;
  padding-left: 22px;
  padding-right: 21px;
  bottom:35px;
  left:70px;
}
.space-idea {  
  position:relative;
  padding-left: 27px;
  padding-right: 21px;
  bottom:73px;
  left:155px;
}
.spacepara {
  margin-top: -2px;
  margin-left: -15px; 
}
.spacepara-end {
  margin-top: -2px;
  margin-left: -15px; 
}
.sub-content {
  
  top: 20px;
  height: 200px;
  padding-bottom: 2px;
  margin-right: 13px;
  margin-bottom: 5px;
  margin-left: 13px;
}
.sub-content-left {
  float: left;
  width: 30%;
  top: -115px;
  padding-left: 6px;
  padding-right: 15px;
  border-right: 1.7px dashed lightgray;
  margin-top: 8px;
}
.sub-content-middle {
  display: inline-block;
  width: 30%;
  top: -115px;
  margin-left: 9px;
  margin-top: 8px;
  padding-left: 3px;
  padding-right: 1px;
}
.sub-content-right {
  float: right;
  width: 32%;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  padding-top:3px;
  margin-top: 6px;
  margin-left: 23px;
  margin-right:-10px;
  border: 7px solid #99994d;
  background-color: #e5e5cc;
}
.footer {
  height: 50px;
  top: 10px;
  margin-top: 10px;
}
.footer-right {
 position:relative;
 left:83%;
 
}
.list {
  list-style-image: url("bullet.png");
  margin-left: 50px;
  padding-bottom: 15px;
}
.anchor-link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}


